# PT-Part1-Intro.ipynb (PyTorch)
torch
mitdeeplearning

# TF-Part1-Intro-keras.ipynb (TensorFlow / Keras)
tensorflow

# HuggingFace music generation extension (Part 2)
transformers
accelerate
scipy
soundfile
music21

# shared
numpy
matplotlib
ipykernel
